
/*Background color*/
body {
  background-color: #E6E6E6;
}
/*End background color*/

/*Banner*/
.banner {
  height: 150px;
  background-color: #F4DEB5;
  text-align: center;
}

.banner h1 {
  display: inline-block;
  vertical-align: middle;
  font-size: 60px;
  margin-top: 40px;
}
/*End banner*/

/*sidebar*/
.sidebar {
  background-color: #90BB90;
  margin-top: 20px;
  height: 1000px;
  padding-top: 15px;
}

.sidebar h5 {
  color: #F4DEB5;
}

.sidebar span {
  color: white;
}
/*End sidebar*/

/*results*/
.results {
  padding-top: 30px;
  padding-left: 45px;
}
/*End results*/

/*Image*/
.img-pane {
  padding-top: 50px;
}

img {
  display: block;*/
  max-width: 300px;
  margin-right: auto;
  margin-left: auto;
}
/*End image*/
